<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<!-- <page-router-outlet></page-router-outlet> -->

<GridLayout>
    <Button class="button-state" text="Login" (tap)="onLogin()"></Button>
</GridLayout>