<template>
  <Page>
    <ActionBar title="Firebase Vue demo"></ActionBar>

    <StackLayout>
      <Label
        class="message"
        :text="message"
        textWrap="true"
        horizontalAlignment="center"
      ></Label>
      <Button text="login" @tap="login"></Button>
    </StackLayout>
  </Page>
</template>

<script>
// import { inappmessaging } from "nativescript-plugin-firebase/inappmessaging";
import { firebase } from "@nativescript/firebase";

export default {
  data() {
    return {
      message: "Fear not, young Skywalker",
    };
  },

  created() {
    // wire up an 'onMessageClicked' callback
    // inappmessaging.onMessageClicked(message => {
    //   this.message = `Campaign ${message.campaignName} clicked`;
    // });
    // // 👉 .. and for fun, wire an 'onMessageImpression' callback so when know when the message is shown
    // inappmessaging.onMessageImpression(message => {
    //   this.message = `Campaign ${message.campaignName} seen`;
    // });
  },
  methods: {
    login() {
      firebase
        .login({
          type: firebase.LoginType.TWITTER,
         
        })
        .then(
          (result) => {
            console.log("result", result);
          },
          (errorMessage) => {
            console.log("twitter error", errorMessage);
          }
        );
    },
  },
};
</script>

<style scoped>
ActionBar {
  background-color: #53ba82;
  color: #ffffff;
}

.message {
  font-size: 17;
  margin: 17;
  color: #53ba82;
}
</style>
